/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*----------------------------------------------------------------*/
/* My ccss */

body {
  font-family: "Palanquin", sans-serif;
  height: 100%;
}

nav {
  position: fixed;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  top: 0;
  padding: 16px 0;
  background-color: white;
}

h1 {
  margin-top: 10px;
  color: #40514e;
}

.titulo {
  font-size: 2.5em;
  font-family: "Great Vibes", cursive;
}

.menunav {
  position: absolute;
  margin-left: 1em;
  left: 0;
  font-size: 1.5em;
}

.menunav:hover {
  opacity: .5;
}

img {
  width: 350px;
  height: 350px;
  margin: 0;
  padding: 0;
  user-select: none;
}

h2 {
  font-size: 23px;
  margin: .4em;
  color: #11999e;
  text-align: inherit;
}

p {
  display: block;
  font-size: 15px;
  text-align: inherit;
  line-height: 1.5em;
}

hr {
  margin: 0 auto;
  width: 90%;
  border: 0;
  height: 1px;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.75),
    rgba(0, 0, 0, 0)
  );
}



/*First block of images*/
.firstrow {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  align-content: space-between;
  align-items: flex-start;
  margin-left: 20em;
  margin-right: 20em;
  margin-top: 9em;
}



.firstrow div {
  margin-bottom: 1.5em;
  text-align: center;
  padding: .5em;
}

/*Next block of images*/
.secondtrow {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  align-content: space-between;
  align-items: flex-start;
  margin-left: 25em;
  margin-right: 25em;
}

.secondtrow div {
  text-align: center;
  padding: .5em;
}

/*Plus Button*/

.loadmore {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-top: 2em;
  margin-bottom: 2em;
}

i.fas.fa-plus {
  display: inline-block;
  text-decoration: none;
  font-size: 2em;
  color: teal;
  padding: 0;
}

.fas.fa-plus:hover {
  background-color: lightgrey;
  font-weight: bold;
}

.fas.fa-plus:active {
  background-color: lightgrey;
  font-weight: bold;
}

/*About Me*/

.aboutme {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h3 {
  margin-top: 20px;
  font-family: "Great Vibes", cursive;
  font-size: 2em;
}

img.profilepic {
  margin: 30px 0;
  max-width: 100%;
  height: auto;
  user-select: none;
}

p.title-aboutme {
  font-family: "Palanquin", sans-serif;
  font-size: 1.5em;
  margin-bottom: 15px;
}

p.text-aboutme {
  font-family: "Palanquin", sans-serif;
  font-size: 1.2em;
  line-height: 1.3em;
  margin-bottom: 30px;
  margin-left: 5em;
  margin-right: 5em;
  text-align: center;
  width: 90%;
}


/*Footer*/

footer {
  display: flex;
  justify-content: center;
  align-content: center;
  height: 300px;
  background-color: #40514e;
}

.footerp {
  font-size: 1.2em;
  font-weight: lighter;
  color: whitesmoke;
  line-height: 1.5em;
}

.fab.fa-instagram {
  padding: .5em;
}

.fab.fa-facebook-square {
  padding: .5em;
}

.blockul {
  display: flex;
  flex-direction: row;
}














/* Menu sidebar */

/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left 0.5s;
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}
