<!DOCTYPE html>

<html lang="pt-PT">

<head>
    <meta charset="UTF-8" />
    <title>
        Houzz Planner
    </title>

    <meta name="description" content="Houzz Planner - goals, portfolio and objectives" />
    <meta name="keywords" content="house, home, decor, construction" />
    <meta name="rating" content="general" />
    <meta name="author" content="Karen Nasser" />

    <link rel="stylesheet" type="text/css" href="/css/reset.css" />
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <link
        href="https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap"
        rel="stylesheet" />
</head>
z

<body>

    <!--HEADER-->
    <header class="main-header">
        <img class="logo-header" src="/ASSETS/UI/logo.svg" alt="logo houzz" />
        <div class="navbar">
            <nav>
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Services</a></li>
                    <li><a href="#">Work</a></li>
                </ul>
            </nav>
            <img class="user-img" src="/ASSETS/UI/User.svg" alt="user image" />
        </div>
    </header>

    <!--MAIN-->
    <main>
        <!--SLIDER-->
        <div id="carrousel-slider">
            <div class="slider">
                <div class="space-left">
                    <img class="arrow-left" src="/ASSETS/UI/seta_esq.svg" alt="seta esquerda" />
                </div>

                <div class="portfolio-img">
                    <img class="port-img" src="/ASSETS/IMG/banner_1.jpg" alt="img 1 portfolio" />
                    <div class="dots-slider">
                        <span class="dot"></span>
                        <span class="dot"></span>
                        <span class="dot"></span>
                    </div>
                </div>

                <div class="space-right">
                    <img class="arrow-right" src="/ASSETS/UI/seta_dir.svg" alt="seta direita" />
                </div>
            </div>
        </div>

        <section id="about-us">
            <div class="titles">
                <h1> About us </h1>
                <p>Customize the software for your needs. You will love it when see
                    <br> how easy it is!
                </p>
                <hr>
            </div>

            <div class="container-flex">
                <div class="box">
                    <p>HELLO!</p>
                </div>
                <img class="box-img" src="/ASSETS/IMG/work/portfolio_3.jpg" alt="portfolio img" />

                <div class="columns-about">

                    <p class="highlight-about"> Sed posuere consectetur est at
                        lobortis. Morbi leo risus, porta ac
                        consectetur ac, vestibulum at
                        eros. Donec ullamcorper nulla
                        non metus auctor fringilla. </p>

                    <p class="about-p"> Lorem ipsum dolor sit amet, consectetur
                        adipiscing elit. Aliquam non est sodales,
                        dignissim turpis at, dictum risus. Nullam sed
                        fermentum felis. Nulla placerat, magna quis
                        suscipit condimentum, leo nisl dictum orci, a
                        mattis arcu turpis eget purus. Lorem ipsum
                        dolor sit amet, consectetur adipiscing elit.
                        Maecenas dapibus efficitur enim,
                        accumsan neque aliquam mattis. Sed et sem
                        maximus, interdum risus class, malesuada eros.
                        Phasellus in fermentum magna, ac
                        elementum leo. Sed a odio ligula. <br><br>
                    </p>

                    <p class="about-p">
                        In hac habitasse platea dictumst. Class
                        aptent taciti sociosqu ad litora torquent per
                        conubia nostra, per inceptos himenaeos.
                        rhoncus suscipit diam rhoncus.
                        PraesentInteger eget interdum mauris, eget
                        faucibus rhoncus suscipit diam rhoncus.
                        Praesent tincclassunt quam class odio rutrum
                        tempor. Sed a scelerisque metus, et
                        fermentum nisi. </p>

                </div>
            </div>

        </section>

        <section id="core-features">
            <div class="titles">
                <h1>Awesome Core Features</h1>
                <p>Customize the software for your needs. You will love it when see
                    <br> how easy it is!
                </p>
            </div>

            <div class="container-features">
                <div class="title">
                    <div class="text-title">
                        <p class="features-highlight">Not sure yet
                            and want to
                            check all
                            features list?</p>
                    </div>
                    <div class="plus-info">
                        <span class="plus">+</span><span class="info">info</span>
                    </div>
                </div>


                <div class="code">
                    <img class="logo-img" src="/ASSETS/UI/core_icon1.svg">
                    <h2>Code Updeted</h2>
                    <p>Fast and well optimized the code of
                        the swipe technology and fully
                        responsive design works on all
                        devices.</p>
                    <div class="button-readmore">
                        <p><a href="#">read more</a></p>
                        <img class="arrow-features" src="/ASSETS/UI/seta_dir.svg">
                    </div>
                </div>


                <div class="core">
                    <img class="logo-img" src="/ASSETS/UI/core_icon2.svg">
                    <h2>Core Builder</h2>
                    <p>Core Builder have new sections now.
                        You can choose parallax or static
                        image, color or pattern. It is easier
                        than you think.</p>
                    <div class="button-readmore">
                        <p><a href="#">read more</a></p>
                        <img class="arrow-features" src="/ASSETS/UI/seta_dir.svg">
                    </div>
                </div>


                <div class="rp">
                    <img class="logo-img" src="/ASSETS/UI/core_icon3.svg">
                    <h2>RP Technology</h2>
                    <p>Fast and well optimized the core of
                        the swipe technology and fully
                        responsive design works on all
                        devices.</p>
                    <div class="button-readmore">
                        <p><a href="#">read more</a></p>
                        <img class="arrow-features" src="/ASSETS/UI/seta_dir.svg">
                    </div>
                </div>
            </div>

        </section>


        <section id="services">
            <div class="container-services">
                <div class="services-title">
                    <h1>Services</h1>
                    <p>Customize the software for your needs. You will love it when see
                        <br> how easy it is!</p>

                    <div class="containerflex-services">
                        <div class="services-blocks">
                            <img class="icons-services" src="/ASSETS/UI/services_icon_1.svg" alt="services icon">
                            <h1>Design</h1>
                            <p>Fast and well optimized the code of
                                the swipe technology and fully
                                responsive design works on all
                                devices</p>
                        </div>

                        <div class="services-blocks">
                            <img class="icons-services" src="/ASSETS/UI/services_icon_2.svg" alt="services icon">
                            <h1>Home Decor</h1>
                            <p>Fast and well optimized the code of
                                the swipe technology and fully
                                responsive design works on all
                                devices</p>
                        </div>

                        <div class="services-blocks">
                            <img class="icons-services" src="/ASSETS/UI/services_icon_3.svg" alt="services icon">
                            <h1>Organization</h1>
                            <p>Fast and well optimized the code of
                                the swipe technology and fully
                                responsive design works on all
                                devices</p>
                        </div>

                        <div class="services-blocks">
                            <img class="icons-services" src="/ASSETS/UI/services_icon_4.svg" alt="services icon">
                            <h1>Improvement</h1>
                            <p>Fast and well optimized the code of
                                the swipe technology and fully
                                responsive design works on all
                                devices</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="work">
            <div class="work-section">
                <div class="titles">
                    <h1>Work</h1>
                    <p>Customize the software for your needs. You will love it when see
                        <br> how easy it is!
                    </p>
                </div>
                <div class="container-work">
                    <div class="content">
                        <div class="title-work">
                            <p class="core-features">Some main features
                                on the core version</p>
                        </div>
                        <div class="work-infos">
                            <p><span>Date:</span> August 25, 2018 <br>
                                <span>Client:</span> SHORT Group <br>
                                <span>Task:</span> Lorem ipsum dolor sit amet <br>
                                <span>Category:</span> Improvement <br>
                                <span>Website:</span> Visit online </p>
                        </div>
                        <span class="plus">+</span><span class="info">info</span>
                    </div>
                    <div class="item"><img src="/ASSETS/IMG/work/portfolio_5.jpg"></div>
                    <div class="item"><img src="/ASSETS/IMG/work/portfolio_4.jpg"></div>
                    <div class="item"><img src="/ASSETS/IMG/work/portfolio_1.jpg"></div>
                    <div class="item"><img src="/ASSETS/IMG/work/portfolio_3.jpg"></div>
                    <div class="item"><img src="/ASSETS/IMG/work/portfolio_2.jpg"></div>
                </div>
            </div>
        </section>

        <section id="clients-testimonials">
            <div class="titles">
                <h1>Clients & Testimonials</h1>
                <p>What others think about US.</p>
            </div>
            <div class="container-clients">
                <div class="column-clients">
                    <div class="logo-clients"><img src="/ASSETS/IMG/client_4.png"></div>
                    <div class="logo-clients"><img src="/ASSETS/IMG/client_3.png"></div>
                    <div class="logo-clients"><img src="/ASSETS/IMG/client_5.png"></div>
                    <div class="logo-clients"><img src="/ASSETS/IMG/client_6.png"></div>
                    <div class="logo-clients"><img src="/ASSETS/IMG/client_1.png"></div>
                    <div class="logo-clients"><img src="/ASSETS/IMG/client_2.png"></div>
                    <div class="logo-clients"><img src="/ASSETS/IMG/client_4.png"></div>
                    <div class="logo-clients"><img src="/ASSETS/IMG/client_5.png"></div>
                </div>
                <div class="selectors-clients">
                    <a href="#"><img class="coma1" src="/ASSETS/UI/coma2.svg" alt="coma1"></a>
                    <img class="clients-img" src="/ASSETS/IMG/testi_1.png" alt="clients">
                    <img class="clients-img" src="/ASSETS/IMG/testi_2.png" alt="clients">
                    <img class="clients-img" src="/ASSETS/IMG/testi_3.png" alt="clients">
                    <img class="clients-img" src="/ASSETS/IMG/testi_4.png" alt="clients">
                    <img class="clients-img" src="/ASSETS/IMG/testi_5.png" alt="clients">
                    <img class="clients-img" src="/ASSETS/IMG/testi_6.png" alt="clients">
                    <img class="clients-img-selected" src="/ASSETS/IMG/testi_7.png" alt="clients">
                    <img class="coma2" src="/ASSETS/UI/coma1.svg" alt="coma2">
                </div>
                <div class="about-client">
                    <h1>Mike Cole</h1>
                    <p>The options is awesome easy to use and stunning. The support is
                        incredible my questions were answered the same day. Thank you. </p>
                    <div class="good-work">
                        <p>Keep up the good work :)</p>
                    </div>
                </div>
            </div>
        </section>

        <section id="ready">
            <div class="container-ready">
                <h1>Ready to create own space?</h1>
                <div class="button-ready">
                    <p>CREATE NOW</p>
                    <span class="dots"></span>
                    <span class="dots"></span>
                    <span class="dots"></span>
                </div>
            </div>
        </section>
    </main>

    <footer class="footer">
        <div class="container-footer">
            <p><span><a href="tel:+351999888777">+ 351 213 662 844</a></span> | <a
                    href="mailto:karen@gmail.com">help@houzzplanner.com</a></p>
            <p><span><a href="#">more info...</a></span></p>
            <p>© 2018, All rights reserved - Coded by <span>Karen Nasser</span></p>
        </div>
    </footer>
</body>

</html>